*{
    margin: 0;
    padding: 0;
}


main {
  max-width: 1350px;
  margin: 0px auto;
}
.banner-section {
  margin: 0px auto;
}
.banner {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
        url("../images/Banner\ Image.png");

         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         margin-top: 50px;
         padding: 130px 300px;
         align-items: center;
         margin-bottom: 130px;
         text-align: center;
    
    
    }
    .banner-title {
  color: white;
  font-size: 32px;
}
.banner-heading {
  color: white;
  font-size: 60px;
  line-height: 95px;
  font-weight: 900;
}